@inherits LayoutComponentBase

<div class="bg-info text-white p-2">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<span class="ml-2 navbar-brand">SPORTS STORE Administration</span>
			</div>
			<div class="col-2 text-right">
				<a href="/account/logout" class="btn btn-primary btn-sm">Log Out</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="p-2 row">
		<div class="col-3">
			<div class="gap-1 d-grid">
				<NavLink class="btn btn-outline-primary" href="/admin/products" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">
					Products
				</NavLink>
				<NavLink class="btn btn-outline-primary" href="/admin/orders" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">
					Orders
				</NavLink>
			</div>
		</div>
		<div class="col">
			@Body
		</div>
	</div>
</div>